/* src/components/MovieSearch.css */

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .movie-search-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.8); /* Light translucent background */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(10px);
  }
  
  .search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #f0f0f0;
    color: #333;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .movie-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .movie-card-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    width: 100%;
    text-align: center;
  }
  
  .movie-card-content h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  
  .movie-card-content p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
  }
  
  .movie-poster {
    margin: 20px 0;
    max-width: 80%;
    height: 150px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .favorite-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .favorite-button:hover {
    background-color: #218838;
  }
  